extends layout

block content
  html(lang="en")
    head
      meta(charset="utf-8")
      title Reveal Presentation
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      link(rel="stylesheet", href="css/bootstrap.css")
      link(rel="stylesheet", href="components/reveal.js/css/reveal.min.css")
      link(rel="stylesheet", href="components/reveal.js/css/theme/default.css", id="theme")
      link(rel="stylesheet", href="css/style.css", id="theme")
    body
      .reveal
        .slides
          section
            h1 Who are you?
            h2 Engineers, Business, Arts, etc.
            h2 How many want to start their own Startup?
            // REMEMBER TO ASK THE 'WHO HATES CORPORATIONS' QUESTION
          section
            h1 Startups as a Career Path
            h3 The Ups, Downs, and In-betweens of a Career Outside the Corporate Walls
            // My goal today is ?
            // Not to try and sugar coat entrepreneurship, but give you a realistic view
            // of the advanteges AND disadvantages of choosing starups
            // as a legimiate career path
          section
            h1 Who am I?
            aside.notes Say something cool here
            // Can I, somewhere in here, show pics of the firenest and mover original offices
            p Ben Zittlau (@benzittlau)
            p VP Technology and Co-founder of Mover
                //
                  li Founded 2012
                  li Edmonton Based
                  li Graduates of Growlab (Vancouver) and Amplify (LA) incubators
                  li $1 million funding to date
                  li Currently employs 11 people
            .row
              div.col-md-6
                img(src="/img/mercer_office.jpg")
              div.col-md-6
                img(src="/img/site_screenshot.png")
          // 1 million funding, growlab, amplify, 11 people
          section
            h1 History
            p Graduated from Electrical Engineering at U of A in 2008
            p Corporate Gigs
            ul 
              li Baker Hughes - Electrical Tech
              li Shell Canada - IT Infrastructure Coordinator
              li Micron - CMOS Image Sensor Product Engineer
            p Startups Founded
            ul
              li Firenest - Collaboration for Non-profits
              li Alertzy - SMS Nofications and Alerts
              li 49 Oz - Mens Lifestyle Content and eCommerce
              li Mover - Cloud data migration and services
            p Startups Worked at
            ul
              li Eleven Engineering
              li Boardsuite
              li Yardstick
            // Timeline
            // Graudated from Electrical engineering in 2008?
            // Show startups I founded, startups I worked at, corporations I worked at, finally Mover
          section
            section
              h1 What are startups?
              // Ask for suggestions of what starups are, write them down
              // "Fortunately this is an easy question to answer, because the media has told us what startups are."
            section
              h1 Started here...
            section
              img(src="/img/old_us_map_arrow.png")
            section
              h1 Have offices like...
            section
              img(src="/img/google_office_1.jpg")
            section
              img(src="/img/google_office_2.jpg")
            section
              h1 With these...
            section
              img(src="/img/google_foos_table_1.jpg")
            section
              img(src="/img/google_foos_table_2.jpg")
            section
              h1 Founded by guys who look like...
            section
              img(src="/img/bill_gates.jpg")
              //No bonus points for this one, too easy, but who is it?
            section
              img(src="/img/the_steves.jpg")
              //Bonus points, who are these guys?
              
            section
              h1 And Do things like...
              div.
                <iframe src="//player.vimeo.com/video/173714" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
          section
            section
              h1 Success
              // Focus on perception by the media, if possible show a media clip of 'guys in their garage'
              // Show articles talking about the amazing success of startups
            section
              h1 Google
            section
              h1 Facebook
            section
              img(src="/img/club_penguin_techcrunch.png")
              h1 Club Penguin
              p $700 Million Exit to Disney
              // Only investment was the lines of credit of the 3 founders
              // No marketing budget
              // Launched October 2005
              // Acquired August 2007

            section
              h1 Flickr
          section
            section
              h1 But wait a second...
              // If this is what startups are, then why are there smart people with this very strange
              // and boring explanations
            section
              h3 Dave McClure - 500 Startups
              blockquote(cite="http://www.quora.com/Entrepreneurship/What-is-the-proper-definition-of-a-startup").
                <p> A startup is a company that is confused about --</p>
                  <ol>
                    <li> What its product is. </li>
                    <li> Who its customers are. </li>
                    <li> How to make money. </li>
                  </ol>
            section
              h3 Eric Reis - Lean Startup
              blockquote
                <p>A startup is a human institution designed to deliver a new product or service under conditions of extreme uncertainty.</p>
            section
              h3 Steve Blank - Stanford
              blockquote
                <p>A startup is a temporary organization used to search for a repeatable and scalable business model.</p>
            section
              h3 Me
              blockquote
                <p>A fucking grind.</p>
                // I guarentee you this would be the most universally agreed upon definition across entrepreneurs
              blockquote
                <p>An organization that exists to find a functional, scalable, business model.</p>
          section
            section
              h1 Reality
              // The reality is the things that the media has associated with startups
              // is a limited and skewed portrayel of what startups are.  It's biased towards
              // sensationalism, and thus inherently becomes detached from the reality.

              // Let's throw away everything we know about what startups are, and
              // instead look at why you'd want a startup, and the reality of those dreams
            section
              h1 Why You Want a Startup
              h3.fragment Unlimited Income Potential
              h3.fragment Control over your own work
              h3.fragment Freedom
              a.fragment(href='https://odesk.com/info/spring2013onlineworksurvey/') https://odesk.com/info/spring2013onlineworksurvey/
          section
            section
              h1 Unlimited Income Potential
            section
              h1 Tech Billionaires
              // Run an interactive test here, have them call out the company if they know
              // it as I go through
              div.col-md-6
                p Bill Gates - $67 Billion
              div.col-md-6
                p Microsoft
              div.col-md-6
                p.fragment Larry Ellison - $43 Billion
              div.col-md-6
                p.fragment Oracle 
              div.col-md-6
                p.fragment Jeff Bezos - $25.2 Billion
              div.col-md-6
                p.fragment Amazon 
              div.col-md-6
                p.fragment Larry Page - $23 Billion
              div.col-md-6
                p.fragment Google 
              div.col-md-6
                p.fragment Sergey Brin - $22.8 Billion
              div.col-md-6
                p.fragment Google 
              div.col-md-6
                p.fragment Michael Dell - $15.3 Billion
              div.col-md-6
                p.fragment Dell
              div.col-md-6
                p.fragment Steve Ballmer - $15.2 Billion
              div.col-md-6
                p.fragment Microsoft 
              div.col-md-6
                p.fragment Paul Allen - $15 Billion
              div.col-md-6
                p.fragment Microsoft 
              div.col-md-6
                p.fragment Mark Zuckerberg - $13.3 Billion
              div.col-md-6
                p.fragment Facebook 
            section
              h1 The Hockey Stick
              p Not just for shooting pucks
              // The hockey stick is one of the *the* goals of a startup.
              // It is a reflection of something called scalability,
              // which 

              img(src="/img/mover_files_processed.png")

            section
              h1 Scalability
              .row
                .col-md-6
                  img(src="/img/tailors.png")
                .col-md-6.fragment(data-fragment-index=2)
                  img(src="/img/clothing_brands.png")
              .row
                .col-md-6
                  img(src="/img/normal.png")
                .col-md-6.fragment(data-fragment-index=2)
                  img(src="/img/pareto.png")
              // Show pie charts, tailors vs. clothes manufacturers
              // One can grow to capture the entire market, the other 
              // the relationship of time to money prevents
              // Scalability is directly related to the uncapped
              // income potential of a business
            section
              h1 Exits
              // Talk about the risks to an exist
              // VC Blocking, market shifts, currency shifts
              // Preferred multiples, etc.
              // Not to mention partner disputes
              h2 Fewer IPO's
              h2 More Early Aquisitions
              // Coprorations excel at taking products from 
              // 10 million value to 100 million
              h2 More Talent Acquisitions
              // 1-2 million per engineer
              // More common due to talent shortage
              // Advantage of aquiring a functioning team
              // instead of building one.
              // Opportunity to get purchased without making money,
              // by being technically impressive
            section
              h2 Let's Look At Another Curve
              // The dynamics of building a startup mean that even when a business
              // is becoming successful, that often doesn't translate into
              // wealth or income for a founder
              // It was found in a study by Thomas Astebro "The effectiveness of simple decision heuristics: Forecasting
              // Commercial Success For Early-Stage Ventures" that "given the same qualifications, people achieve
              // higher average returns by selling their skills to employers than by setting out on their own."
              img(src="/img/income_curve.png")






          // ############## CONTROL OVER YOUR OWN WORK ##################
          section
            section
              h1 Control over your own work
              h1 Freedom
            section
              h1 Early Days
              p Small Team
              p No Customers
              p No Investors
              h2.fragment PARTY!
              // Anecdote of going to watch soccer at noon turning into bar hopping
              // The irony is that you want to be in this mode for as short a period of
              // time as possible.  You want to get to the investors and customers.
            section
              h1 Later Days
              p Customer Issues
              p Legal/HR/Finance/Grant Writing
              p Team Management
              p Investor Pitches
              p Travel
              // In later days you will lose control of the work
              // you would like to do in favour of the work you
              // *need* to do.  Derek Seivers decided that for 
              // for him this just wasn't worth it, but you make
              // sacrifices along with that choice.

              // Fundamental irony that it's the success of a startup
              // that turns it into a business, and makes it no longer
              // a startup

              // Reference here the 'Who hates corporations' questions.
            section
              h1 Business Partners
              p Good Idea
              p Helps Focus and Accountability
              p Provides Moral Support
              // Business partners are a very good idea
              // Success of business with cofounders have been
              // shown to have a higher chance of success
              // Obviously taking on business partners
              // takes away from your control over your own work.
              // The process of managing and working with
              // business partners is an interesting exercise
              // in patience, compromise... manipulation
              // It's not a coincidence it's been consistently
              // compared to a marriage

              br
              div.fragment
                h3 YCombinator FAQ
                blockquote(cite="http://ycombinator.com/faq.html").
                  <p> Q: Can a single person apply for funding? </p>
              div.fragment
                blockquote(cite="http://ycombinator.com/faq.html").
                  <p> A: Yes, but the odds of being accepted are lower. A startup is too much work for one person. </p>
                


          section
            section
              h1 The real reasons you want a startup
              h3.fragment Learning
              h3.fragment Ego
              h3.fragment Success
              // These are the real reasons that deep down are probably
              // driving you to a startup lifestyle.  Starups have potential
              // to satisfy all of them, but with increasingly reduced chances.
          section
            h1 Life's a bitch and then you die.
            h2 Well....
            h1 Startup's are a bitch, and then they're a business.
          section
            h3 Ben Zittlau
            p ben@mover.io
            p @benzittlau
            p benzittlau.com
            p springlaunched.com

          section
            h1 Left Blank On Purpose

          section
            section
              h1 Failure
            // Survival study by statscan http://www.statcan.gc.ca/pub/11-622-m/2012028/part-partie1-eng.htm
            // Smaller the company, lower the survival rate http://www.statcan.gc.ca/pub/11-622-m/2012028/t005-eng.htm
            // A internet technlogy company would belong to NAICS 54, Professional, Scientific, and Technical services: http://stds.statcan.gc.ca/spaggr-agrsp/ict-tic-2002/ictnaics02cs-ticscian02cr-eng.asp?criteria=54
            // Based on survival curve, companies in our industry have a 45% 5 year survival rate http://www.statcan.gc.ca/pub/11-622-m/2012028/t002-eng.htm
            section
              h1 Pets.com
          section
              h1 The Journey
          section
            h1 Risk Aversion
            // Risk premium
            // Describe a poker hand.  Show yourself getting overly commited as the hand begins to work less and less positive.  'Pot-odds'  Be cool to walk through the hand once intuitively, and then again showing the numbers. Possibly another good interactive exercise.
          section
            h1 Life/work balance
            // 'The median entrereneur reported devoting 60 hours or more per week to the venture...' (Cooper et al.)
          section
            h1 Impact
          section
            h1 Limited respectiability
            // Like other self-declared professions (artist, writer, musician) it tends to be met with
            // unspoken skepticism.  This will be particularly painful for those who need to trade in a
            // respectable title like 'Engineer'
          section
            h1 Retirement (forced or otherwise)
          section
            h1 Skepticism/Meritocracy
            // An escape from dogmatic thinking.  Ideas evaluted on their own merits.  Meritocracy.
          section
            h1 Change the world
          section
            h1 Optimism
            // Fully 81% of the entrepreneurs put their personal odds of success at 7 out of 10 or higher, and 33% said their change of failing was zero. (Cooper et. al.)
            // Would those who are not optimistic take the risk?  What if I told you that you have a 50% change of succeeding?  What about 30%?  Good opportunity for an interaction with the gorpu.
            // Would be great to hear what they think the numbers are, and at what numbers they would still start a business before presenting the real numbers.

          section
            h1 Luck (Maybe combined with optimisim)
            // 'Entrepreneurs have also often been found to have high levels of internal locus-of-control beliefes, meaning that they believe they can control their own destinies. 
    script(src="components/reveal.js/js/reveal.min.js")
    script(type="text/javascript").
      Reveal.initialize({
        dependencies: [
            { src: 'plugin/notes-server/client.js', async: true }
        ],
        history: true
      });

      Reveal.addEventListener('slidechanged', function(event) {
        $(event.currentSlide)
        console.log(event.currentSlide)
      });
