extends layout

block content
  html(lang="en")
    head
      meta(charset="utf-8")
      title Reveal Presentation
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      link(rel="stylesheet", href="css/bootstrap.css")
      link(rel="stylesheet", href="css/reveal.min.css")
      link(rel="stylesheet", href="css/theme/default.css", id="theme")
      link(rel="stylesheet", href="css/style.css", id="theme")
    body
      .reveal
        .slides
          section
            h1 Who are you?
            h2 Engineers, Business, Arts, etc.
            h2 How many want to start their own Startup?
            aside.notes 
              p Remember to ask the 'Who Hates Corporations Question'
          section
            h1 Startups as a Career Path
            h3 The Ups, Downs, and In-betweens of a Career Outside the Corporate Walls
            aside.notes 
              p.
                My goal today is 
                Not to try and sugar coat entrepreneurship, but give you a realistic view
                of the advanteges AND disadvantages of choosing starups
                as a legimiate career path, and it is a legitimate career path, even
                in Edmonton, Alberta.
          section
            h1 Who am I?
            // Can I, somewhere in here, show pics of the firenest and mover original offices
            p Ben Zittlau (@benzittlau)
            p VP Technology and Co-founder of Mover
              aside.notes 
                p Founded 2012
                p Edmonton Based
                p Cloud data migration
                p Graduates of Growlab (Vancouver) and Amplify (LA) incubators
                p $1 million funding to date
                p Currently employs 11 people
            .row
              div.col-md-6
                img(src="/img/mercer_office.jpg")
              div.col-md-6
                img(src="/img/site_screenshot.png")
          // 1 million funding, growlab, amplify, 11 people
          section
            h1 History
            p Graduated from Electrical Engineering at uAlberta in 2008
            aside.notes 
              p.
                As I step through these talk through the positions at each
              p.
                Explain how I got into startups in San Jose, and since
                then I've been doing a startup draining the bank account
                and then resupplying, rinse repeat
            div.col-md-4.fragment
              h3 Corporate Gigs
              div.fragment
                p 2005
                p Baker Hughes
              div.fragment
                p 2006
                p Shell Canada
              div.fragment
                p 2007
                p Micron
            div.col-md-4.fragment
              h3 Startups Founded
              div.fragment
                p 2009
                p Firenest
              div.fragment
                p 2010
                p Alertzy
              div.fragment
                p 2012
                p 49 Oz
              div.fragment
                p 2012
                p Mover
            div.col-md-4.fragment
              h3 Startups Employed By
              div.fragment
                p 2010
                p Eleven Engineering
              div.fragment
                p 2011
                p BoardSuite
              div.fragment
                p 2012
                p Yardstick
          section
            section
              h1 What are startups?
              aside.notes 
                p.
                  Ask for suggestions of what startups are, write them down
                p.
                  "Fortunately this is an easy question to answer, because the media has told us what startups are."
            section
              h1 Started here...
            section
              img(src="/img/old_us_map_arrow.png")
            section
              h1 Have offices like...
            section
              img(src="/img/google_office_1.jpg")
              aside.notes 
                p.
                  Obligatory slide.
            section
              img(src="/img/google_office_2.jpg")
            section
              h1 With these...
            section
              img(src="/img/google_foos_table_1.jpg")
            section
              img(src="/img/google_foos_table_2.jpg")
              aside.notes 
                p.
                  Notice the cloud.  Clearly this is a cloud company.
            section
              h1 Founded by guys who look like...
            section
              img(src="/img/bill_gates.jpg")
              aside.notes
                p No bonus points for this one, too easy, but who is it?
            section
              img(src="/img/the_steves.jpg")
              aside.notes 
                p Bonus points, who are these guys?
              
            section
              h1 And Do things like...
              div.
                <iframe src="//player.vimeo.com/video/173714" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
          section
            section
              h1 Success
              img(src="/img/underpants-profit.jpg")
              aside.notes 
                p.
                  The really cool thing about startups is that after having all that
                  fun you get the profit... somehow.
            section
              img.stamp.fragment(src="/img/success_small.png")
              img(src="/img/google_wallstreet_journal.png")
              h1 Google
              p $23 Billion IPO
              aside.notes
                p Started by two stanford grad students in 1996 as a research project
                p Incorporated the company in 1998
                p Founders wrote a research paper in 1998 arguing against ad funded search engines
                p 5 years later IPO'd for a market cap of $23 Billion
                p Today has a market cap of just shy of $400 Billion
            section
              img.stamp.fragment(src="/img/success_small.png")
              img(src="/img/facebook_money.png")
              h1 Facebook
              p $104 Billion IPO
              aside.notes
                p Launched out of a university dorm room in 2004
                p Beat out other major social networks to become the defactor social network
                p Became profitable in 2009
                p IPO'd 8 years after launch in 2012 at a $104 billion valuation
                p Market cap today of $140 Billion
            section
              img.stamp.fragment(src="/img/success_small.png")
              img(src="/img/club_penguin_techcrunch.png")
              h1 Club Penguin
              p $700 Million Exit to Disney
              aside.notes 
                p Kelowna based
                p Only investment was the lines of credit of the 3 founders
                p No marketing budget
                p Launched October 2005
                p Acquired August 2007 by disney for $700 million
            section
              img.stamp.fragment(src="/img/success_small.png")
              img(src="/img/flickr_yahoo.png")
              h1 Flickr
              p (reported) $35 Million Exit to Yahoo
              aside.notes
                p Vancouver based
                p Originally started as an online game
                p Launched Flickr in February 2004
                p Acquired a year later by Yahoo for $35 Million while still in beta
            section
              img.stamp.fragment(src="/img/success_small.png")
              img(src="/img/summly_yahoo.png")
              h1 Summly
              p (reported) $30 Million Exit to Yahoo
              aside.notes 
                p Founded by a 16 year old in 2011
                p Sold to yahoo less than 2 years later for $30 million
                p 90 million 'summaries' read, means he made 30 cents per summary, insane
                p Had no revenue or monetization plan
          section
            section
              h1 But wait a second...
              aside.notes 
                p.
                  If this is what startups are, then why are there smart people with these very strange
                  and boring explanations
            section
              div.col-md-3
                img(src="/img/steve_blank.png")
              div.col-md-9
                h3 Steve Blank - Stanford
                blockquote
                  <p>A startup is a temporary organization used to search for a repeatable and scalable business model.</p>
              aside.notes 
                p Lecturer at stanford
                p Author of four steps to the epiphany
                p One of the first to try and 'scientificize' startups
            section
              div.col-md-9
                h3 Eric Reis - Lean Startup
                blockquote
                  <p>A startup is a human institution designed to deliver a new product or service under conditions of extreme uncertainty.</p>
              div.col-md-3
                img(src="/img/eric_reis.png")
              aside.notes 
                p Author of Lean Startup and figure head of the lean movement
            section
              div.col-md-3
                img(src="/img/dave_mcclure.png")
              div.col-md-9
                h3 Dave McClure - 500 Startups
                blockquote(cite="http://www.quora.com/Entrepreneurship/What-is-the-proper-definition-of-a-startup").
                  <p> A startup is a company that is confused about --</p>
                  <ol>
                    <li> What its product is. </li>
                    <li> Who its customers are. </li>
                    <li> How to make money. </li>
                  </ol>
              aside.notes 
                p Runs accelerator 500 startups in San Fran
                p Has invested in over 500 startups (Mover isn't one of them)
                p Well known for his 'Startup Metrics for Pirates'
            section
              div.col-md-9
                h3 Me
                blockquote
                  <p>A fucking grind.</p>
                blockquote
                  <p>An organization that exists to find a functional, scalable, business model.</p>
              div.col-md-3
                img(src="/img/me.png")
              aside.notes 
                p Look pretty bad ass in sunglasses
                p I guarentee you this would be the most universally agreed upon definition across entrepreneurs
          section
            section
              h1 Reality
              aside.notes 
                p.
                  The reality is the things that the media has associated with startups
                  is a limited and skewed portrayel of what startups are.  It's biased towards
                  sensationalism, and thus inherently becomes detached from the reality.

                p.
                  Let's throw away everything we know about what startups are, and
                  instead look at why you'd want a startup, and the reality of those dreams
            section
              h1 Why You Want a Startup
              img(src="/img/millenials_infographic.png")
              a.pull-right(href="http://www.rasmussen.edu/student-life/blogs/main/infographic-millenial-entrepreneurship/").
                Source: Rasmussen College

              aside.notes
                p.
                  Mention that this is a survey of millenials, 72% of who said
                  they want to quit entirely to become more independent
          section
            section
              h1 Unlimited Income Potential
            section
              h1 Tech Billionaires
              h3 In order of filthiness of their wealth
              aside.notes 
                p.
                  Unlimited wealth is certainly a possibility through startups.  A large
                  number of the worlds richest people have gotten there through that path.
                p.
                  Run an interactive test here, have them call out the company if they know
                  aside.notes it as I go through
              div.col-md-6
                p Bill Gates - $67 Billion
              div.col-md-6
                p Microsoft
              div.col-md-6
                p.fragment Larry Ellison - $43 Billion
              div.col-md-6
                p.fragment Oracle 
              div.col-md-6
                p.fragment Jeff Bezos - $25.2 Billion
              div.col-md-6
                p.fragment Amazon 
              div.col-md-6
                p.fragment Larry Page - $23 Billion
              div.col-md-6
                p.fragment Google 
              div.col-md-6
                p.fragment Sergey Brin - $22.8 Billion
              div.col-md-6
                p.fragment Google 
              div.col-md-6
                p.fragment Michael Dell - $15.3 Billion
              div.col-md-6
                p.fragment Dell
              div.col-md-6
                p.fragment Steve Ballmer - $15.2 Billion
              div.col-md-6
                p.fragment Microsoft 
              div.col-md-6
                p.fragment Paul Allen - $15 Billion
              div.col-md-6
                p.fragment Microsoft 
              div.col-md-6
                p.fragment Mark Zuckerberg - $13.3 Billion
              div.col-md-6
                p.fragment Facebook 
            section
              h1 The Hockey Stick
              p Not just for shooting pucks
              aside.notes 
                p.
                  None of these guys made it to their billions
                  without a hockey stick curve of something
                p.
                  Should make it clear that this is files processed per week,
                  not cummulative
                p.
                  The hockey stick is one of the *the* goals of a startup.
                  It is a reflection of something called scalability,
                  which is important for any business that hopes to
                  grow to a significant scale.

              img(src="/img/mover_files_processed.png")

            section
              h1 Scalability
              .row
                .col-md-6
                  img(src="/img/tailors.png")
                .col-md-6.fragment(data-fragment-index=2)
                  img(src="/img/clothing_brands.png")
              .row
                .col-md-6
                  img(src="/img/normal.png")
                .col-md-6.fragment(data-fragment-index=2)
                  img(src="/img/pareto.png")
              aside.notes
                p Show pie charts, tailors vs. clothes manufacturers
                p.
                  One can grow to capture the entire market, the other 
                  the relationship of time to money prevents
                p.
                  Scalability is directly related to the uncapped
                  income potential of a business
                p.
                  Ask for other examples of scalability and non-scalability
                p Computer Repair Shop vs. OS Software
                p Coffee Shop vs. Social Network

            section
              h1 Exits
              aside.notes
                p Talk about the risks to an exist
                p.
                  VC Blocking, market shifts, currency shifts
                  Preferred multiples, etc.
                p Not to mention partner disputes
              h2 Fewer IPO's
              h2 More Early Aquisitions
              aside.notes 
                p. 
                  Corporations excel at taking products from 
                  10 million value to 100 million
              h2 More Talent Acquisitions
              aside.notes 1-2 million per engineer
                p More common due to talent shortage
                p. 
                  Advantage of aquiring a functioning team
                  instead of building one.
                p. 
                  Opportunity to get purchased without making money,
                  by being technically impressive
            section
              h2 Let's Look At Another Curve
              aside.notes 
                p.
                  The dynamics of building a startup mean that even when a business
                  is becoming successful, that often doesn't translate into
                  wealth or income for a founder
                p.
                  It was found in a study by Thomas Astebro "The effectiveness of simple decision heuristics: Forecasting
                  Commercial Success For Early-Stage Ventures" that "given the same qualifications, people achieve
                  higher average returns by selling their skills to employers than by setting out on their own."
              img(src="/img/income_curve.png")






          // ############## CONTROL OVER YOUR OWN WORK ##################
          section
            section
              h1 Control over your own work
              h1 Freedom
            section
              h1 Early Days
              p Small Team
              p No Customers
              p No Investors
              p Unlimited Freedom
              h2.fragment PARTY!
              aside.notes
                p Anecdote of going to watch soccer at noon turning into bar hopping
                p.
                  The irony is that you want to be in this mode for as short a period of
                  time as possible.  You want to get to the investors and customers.
                  Being here long means you're failing to find a business model.
            section
              h1 Later Days
              p Customer Issues
              p Legal/HR/Finance/Grant/Taxes
              p Team Management
              p Investor Pitches
              p Travel
              aside.notes
                p.
                  In later days you will lose control of the work
                  you would like to do in favour of the work you
                  *need* to do.  
                p.
                  Derek Seivers decided that for 
                  for him this just wasn't worth it, but you make
                  sacrifices along with that choice.

                p.
                  Fundamental irony that it's the success of a startup
                  that turns it into a business, and makes it no longer
                  a startup

                p.
                  Reference here the 'Who hates corporations' questions.

            section
              h1 Business Partners
              p Good Idea
              p Helps Focus and Accountability
              p Provides Moral Support

              br
              div.fragment
                h3 YCombinator FAQ
                blockquote(cite="http://ycombinator.com/faq.html").
                  <p> Q: Can a single person apply for funding? </p>
              div.fragment
                blockquote(cite="http://ycombinator.com/faq.html").
                  <p> A: Yes, but the odds of being accepted are lower. A startup is too much work for one person. </p>
              aside.notes
                p Business partners are a very good idea
                p.
                  Success of business with cofounders have been
                  shown to have a higher chance of success
                p.
                  Obviously taking on business partners
                  takes away from your control over your own work.
                p.
                  The process of managing and working with
                  business partners is an interesting exercise
                  in patience, compromise... manipulation
                p. 
                  It's not a coincidence it's been consistently
                  compared to a marriage

            section
              h1 Sacrifice
              p Being able to do what needs to be done
              aside.notes
                p.
                  Do you want to be the type of person 
                  who misses birthdays and anniversaries?

                p.
                  I don't know a serious entrepreneur who
                  this has not been the case for.
                  It's about being where you need to be to talk
                  to that investor, or client, or advisor.  


                

          section
            section
              // TODO Populate this section with some of my ideas from below
              h1 Unexpected Aspects of Entrepreurship
            section
              h1 It is hard
              h2.fragment Like really hard
              h2.fragment However hard you think I'm saying, it's harder
              aside.notes
                p.
                  There is no magic.  Every dollar of revenue
                  conversation, news article, employee, customer
                  is something that needs to be fought for and
                  earned
                p.
                  When people tell you it's hard, it's often not clear
                  that what they mostly mean is it's emotionally hard.
                  Emotionally exhausting.
            section
              h1 Comfort Zones
              p It will push you out of all of them
              aside.notes
                p.
                  Really not for people who aren't willing and
                  able to just find ways to 'get shit done'.  
                p.
                  Most
                  common thing I see talking to wannapreneurs is an
                  unwilingness to step outside their comfort zone and 
                  figure out a solution.
            section
              h1 Humility
              p It will teach you to understand what you don't know
              aside.notes
                p.
                  To be successful it is critical to become self aware
                  enough to know your strengths and weaknesses.  Nothing
                  else I have done has so effectively driven this kind of 
                  growth.
            section
              h1 Luck
              h3 Good to be Lucky..
              div.col-md-2
                p Chess
              div.col-md-2
                p.fragment Career
              div.col-md-2
              div.col-md-2
                p.fragment Startups
              div.col-md-2
              div.col-md-2
                p Slots
              br
              br
              div.fragment
                h3 Serendipity
                p Also known as hustle
              aside.notes
                p.
                  I wish I could tell you definitively how much
                  of a factor luck is, but I haven't seen any convincing
                  work answering that question.  There's some things I 
                  *can* say though.
                p.
                  On a spectrum somewhere between chess and slots,
                  entrepreneurship is closer to slots.  Wherever
                  having a successful career in your vocation lies,
                  entrepreneurship is a far shift to the right.
                p.
                  Also however successful or unsuccessful you are,
                  luck has most likely had more effect thatn you would
                  like to admit.
                p.
                  Serendipity.  This is really about creating as 
                  many opportunities for good luck as possible.  Telling
                  everyone what you're doing, hustling for connections,
                  social media, etc, whatever your flavour is
            section
              h1 Ideas have almost no value
              blockquote
                p Kevin Flynn: What's Wi-Fi? 
                p Sam: Wireless interlinking. 
                p Kevin Flynn: Of digital devices? 
                p [Sam nods] 
                p Kevin Flynn: Heh. I thought of that back in '85.
              div.fragment
                p Team - Important.
                p Space/Industry - Important.
                p Learning Effectively - Important.
                p Idea - Not so important.
              aside.notes
                p.
                  It is so much more about the process.  If you 
                  start out with a horrible idea, if your process
                  is good you won't stay there long.
                p.
                  Most successful startups end up doing something different
                  than they started going.  MyBackupBox.
                p.
                  More important is choosing a good space.  It should
                  be growing, have ability to pay, be something
                  you're interested in.
                p.
                  If your idea is good and capable of being stolen, 
                  how are you possibly going to remain competitive?
            section
              h1 Rollercoaster of emotions
              p Highs are higher, and the lows are lower
              p Constant forms of gratification
              p Constant forms of frustration
          section
            section
              h1 The real reasons you'll start a startup
              h2.fragment Learning
              h2.fragment Ego
              h2.fragment Success
              aside.notes.
                p. 
                  Explain real reasons vs. good reasons (Peter Flynn).
                  Good reasons are the reasons we tell others and ourselves
                  that sound good
                p.
                  These are the real reasons that deep down are probably
                  driving you to a startup lifestyle.  Starups have potential
                  to satisfy all of them, learning most of all, then ego, then success.
            section
              h1 It is possible
              h1.fragment Just start doing it
              h1.fragment And don't stop
              aside.notes.
                p. 
                  Whatever you do don't wait until some magic time
                  when you feel like you known everything you need to know.  It'll
                  never happen.  Just start trying, and if you start failing that's okay.
                p.
                  The startup community is one of the most accepting and understanding
                  of failure, it has to be.
          section
            h1 Life's a bitch and then you die.
            h2 Well....
            h1 Startup's are a bitch, and then they're a business.
            aside.notes.
              p. 
                But the good news is there's moments of supreme awesomeness in both,
                and I'm in hurry to stop living life, and I'm in no hurry
                to stop building startups
          section
            h2 Questions?
            p ben@mover.io
            p @benzittlau
            p benzittlau.com
            p springlaunched.com
            p zittlau.ca
            a(href="https://github.com/benzittlau/fireside-chat") https://github.com/benzittlau/fireside-chat

          section
            h1 Left Blank On Purpose

          section
            section
              h1 Failure
            // Survival study by statscan http://www.statcan.gc.ca/pub/11-622-m/2012028/part-partie1-eng.htm
            // Smaller the company, lower the survival rate http://www.statcan.gc.ca/pub/11-622-m/2012028/t005-eng.htm
            // A internet technlogy company would belong to NAICS 54, Professional, Scientific, and Technical services: http://stds.statcan.gc.ca/spaggr-agrsp/ict-tic-2002/ictnaics02cs-ticscian02cr-eng.asp?criteria=54
            // Based on survival curve, companies in our industry have a 45% 5 year survival rate http://www.statcan.gc.ca/pub/11-622-m/2012028/t002-eng.htm
            section
              h1 Pets.com
          section
              h1 The Journey
          section
            h1 Risk Aversion
            // Risk premium
            // Describe a poker hand.  Show yourself getting overly commited as the hand begins to work less and less positive.  'Pot-odds'  Be cool to walk through the hand once intuitively, and then again showing the numbers. Possibly another good interactive exercise.
          section
            h1 Life/work balance
            // 'The median entrereneur reported devoting 60 hours or more per week to the venture...' (Cooper et al.)
          section
            h1 Impact
          section
            h1 Limited respectiability
            // Like other self-declared professions (artist, writer, musician) it tends to be met with
            // unspoken skepticism.  This will be particularly painful for those who need to trade in a
            // respectable title like 'Engineer'
          section
            h1 Retirement (forced or otherwise)
          section
            h1 Skepticism/Meritocracy
            // An escape from dogmatic thinking.  Ideas evaluted on their own merits.  Meritocracy.
          section
            h1 Change the world
          section
            h1 Optimism
            // Fully 81% of the entrepreneurs put their personal odds of success at 7 out of 10 or higher, and 33% said their change of failing was zero. (Cooper et. al.)
            // Would those who are not optimistic take the risk?  What if I told you that you have a 50% change of succeeding?  What about 30%?  Good opportunity for an interaction with the gorpu.
            // Would be great to hear what they think the numbers are, and at what numbers they would still start a business before presenting the real numbers.

          section
            h1 Luck (Maybe combined with optimisim)
            // 'Entrepreneurs have also often been found to have high levels of internal locus-of-control beliefes, meaning that they believe they can control their own destinies. 
    script(src="lib/js/head.min.js")
    script(src="js/reveal.min.js")
    script(type="text/javascript").
      Reveal.initialize({
        history: true,
        dependencies: [
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

      Reveal.addEventListener('slidechanged', function(event) {
        $(event.currentSlide)
        console.log(event.currentSlide)
      });
