extends layout

block content
  html(lang="en")
    head
      meta(charset="utf-8")
      title Reveal Presentation
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      link(rel="stylesheet", href="components/reveal.js/css/reveal.min.css")
      link(rel="stylesheet", href="components/reveal.js/css/theme/default.css", id="theme")
    body
      .reveal
        .slides
          section
            h1 Starups as a Career Path
            h3 The Ups, Downs, and In-betweens of a Career Outside the Corporate Walls
          section
            section
              h1 What are startups?
            section
              img(src="/img/old_us_map_arrow.png")
            section
              div.
                <iframe src="//player.vimeo.com/video/173714" width="500" height="375" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> 
            section
              h3 Steve Blank
              blockquote
                <p>A startup is a temporary organization used to search for a repeatable and scalable business model.</p>
            section
              h3 Dave McClure
              blockquote(cite="http://www.quora.com/Entrepreneurship/What-is-the-proper-definition-of-a-startup").
                <p> A startup is a company that is confused about --</p>
                  <ol>
                    <li> What its product is. </li>
                    <li> Who its customers are. </li>
                    <li> How to make money. </li>
                  </ol>
          section
            section
              h1 Why startups?
            section
              h1 Tech Billionaires
          section
            h1 Risk Aversion
          section
            h1 Impact
          section
            h1 Failure
          section
            h1 Control
          section
            h1 Scalable
    script(src="components/reveal.js/js/reveal.min.js")
    script(type="text/javascript").
        Reveal.initialize({history: true});
