.reveal ul {
  list-style-type: none;
}

.reveal h1{
  word-wrap: normal;
  hyphens: none;
}

blockquote:before, blockquote:after{
  content: none;
}

.reveal section img.stamp {
  left:50%;
  top: 200px;
  margin-left:-200px;
  position:absolute;
  border:none;
  background:none;
  /* Firefox */
  -moz-transform:rotate(20deg);
  /* Safari and Chrome */
  -webkit-transform:rotate(20deg);
}
